<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xgf.winecome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- <service -->
        <!-- android:name="com.baidu.location.f" -->
        <!-- android:enabled="true" -->
        <!-- android:process=":remote" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.baidu.location.service_v2.2" > -->
        <!-- </action> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0W2fh4u8vWGWUuxn0D859o7g" />

        <activity
            android:name="com.xgf.winecome.ui.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.GoodsDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.ShopCartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.MoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.PersonInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.AreaSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/dialogTheme" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.DateSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/dialogTheme" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.TimeSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/dialogTheme" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.OrderQueryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.OrderListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.OrderStateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.IntegralMallActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.IntegralOrderListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.IntegralQueryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.IntegralSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/dialogTheme" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.QrResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.CommentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.ui.activity.CommentsResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.xgf.winecome.pay.alipay.PayDemoActivity"
            android:icon="@drawable/msp_icon"
            android:label="@string/app_name" >
        </activity>
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->

        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zxing.appspot.com"
                    android:path="/scan"
                    android:scheme="http" />
            </intent-filter>
            <!-- We also support a Google Product Search URL. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.google.com"
                    android:path="/m/products/scan"
                    android:scheme="http" />
            </intent-filter>
            <!-- And the UK version. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.google.co.uk"
                    android:path="/m/products/scan"
                    android:scheme="http" />
            </intent-filter>
            <!-- Support zxing://scan/?... like iPhone app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="scan"
                    android:path="/"
                    android:scheme="zxing" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.PreferencesActivity"
            android:label="@string/preferences_name"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.encode.EncodeActivity"
            android:label="@string/share_name"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.ENCODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- This allows us to handle the Share button in Contacts. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/x-vcard" />
            </intent-filter>
            <!-- This allows us to handle sharing any plain text . -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.book.SearchBookContentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/sbc_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SEARCH_BOOK_CONTENTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.share.ShareActivity"
            android:label="@string/share_name"
            android:screenOrientation="user"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SHARE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.history.HistoryActivity"
            android:label="@string/history_title"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.share.BookmarkPickerActivity"
            android:label="@string/bookmark_picker_name"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.share.AppPickerActivity"
            android:configChanges="orientation"
            android:label="@string/app_picker_name"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xgf.winecome.qrcode.google.zxing.client.HelpActivity"
            android:screenOrientation="user" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.xgf.winecome.service.MsgService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.xgf.winecome.service.MsgService" />
            </intent-filter>
        </service>
        <service
            android:name="com.xgf.winecome.service.GuardService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.xgf.winecome.service.GuardService" />
            </intent-filter>
        </service>
    </application>

</manifest>